doctype html
html
  head
    title=title
    meta(charset='UTF-8')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(type='text/javascript', src= script)
  body
    block content
