extends layout

block content
  script(src='/js/axios.js', type='text/javascript')
  script(src='/js/xlsx.full.min.js', type='text/javascript')
  script(src='/js/main.js', type='text/javascript')
  h1= 'Загрузить данные'
  br
  br

  h4
    label.btn.btn-default.btn-file Выбрать файл
      input#xlf(name="xlfile", type="file", style="display: none", onchange="display_filename()")
    span#filename.label.label-info(style="padding-left:30px;background-color:#fff;color:#aaa")
  br
  br
  form(action='/parse', method='POST')
    div.form-group
      label.fileInput
      button#send_file_button.btn.btn-primary.disabled(type="submit") Отправить

  pre#out
  div#htmlout
